body {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('./bg.jpg');
  background-repeat: repeat; 
  background-size: auto;
  color: white;  
}

#header {
  border: 2px solid powderblue;
  padding: 30px;
}
